<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include partials/header.ejs %>
    </header>
    <h2><%= error %></h2>
    <a href="/">Back To List</a>
  </body>
</html>
